.contenaire {
  background-color: steelblue;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
 

}
nav a {
  color: white;
  display: block;
  padding: 20px;
}
h1, h2{
  color: steelblue;
  border-bottom: 1px solid #291818; 
  margin-bottom: 15px;
}
/* Path: styles/styles.css  to add  */
img {
  width: 150px;
  height: auto;
  border: 1px solid black;
  padding: 2px;
  box-shadow: 0 0 30px gray;
}
p {
  padding: 0;
}
aside {
  width: 20rem;
  margin: 1rem;
  border: 1px solid rgb(0 0 0 / 0.2); /* 1️⃣ */
  padding: 1rem;
  background-color: #e5dfed;
  color: #333;
  text-align: center;
  
}
footer {
  margin-top: 15px;
  border-top: 1px solid #000;
  text-align: center;
}

main img {
    width: 150px;
    height: auto;
    float: right;
}
aside img {
    width: 200px;
    height: auto;
}
main, footer, header{
  max-width: 840px;
  margin: 0 auto;
}
.contenaire a{
  text-decoration: none;
}
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 10px;
  padding: 11px;
  background-color: rgb(77, 241, 241);
}
